@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic");

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800&subset=cyrillic");

@font-face{
    font-family:Proxima Nova;

    font-style:normal;

    font-weight:300;

    src:url(../fonts/proximanova-light-webfont.woff.eot);

    src:url(../fonts/proximanova-light-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/proximanova-light-webfont.woff) format("woff"),url(../onts/proximanova-light-webfont.ttf) format("truetype"),url(../fonts/proximanova-light-webfont.svg#proxima_nova_rgregular) format("svg")

}
@font-face{
    font-family:Proxima Nova;
    font-style:normal;
    font-weight:400;
    src:url(../fonts/proximanova-reg-webfont.woff.eot);
    src:url(../fonts/proximanova-reg-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/proximanova-reg-webfont.woff) format("woff"),url(../fonts/proximanova-reg-webfont.ttf) format("truetype"),url(../fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular) format("svg")
}
@font-face{
    font-family:Proxima Nova;
    font-style:normal;
    font-weight:600;
    src:url(../fonts/proximanova-sbold-webfont.woff.eot);
    src:url(../fonts/proximanova-sbold-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/proximanova-sbold-webfont.woff) format("woff"),url(../fonts/proximanova-sbold-webfont.ttf) format("truetype"),url(../fonts/proximanova-sbold-webfont.svg#proxima_nova_rgregular) format("svg")
}
@font-face{
    font-family:Proxima Nova;
    font-style:normal;
    font-weight:700;
    src:url(../fonts/proximanova-bold-webfont.woff.eot);
    src:url(../fonts/proximanova-bold-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/proximanova-bold-webfont.woff) format("woff"),url(../fonts/proximanova-bold-webfont.ttf) format("truetype"),url(../fonts/proximanova-bold-webfont.svg#proxima_nova_rgregular) format("svg")
}
@font-face{
    font-family:Proxima Nova;
    font-style:normal;
    font-weight:800;
    src:url(../fonts/proximanova-xbold-webfont.woff.eot);
    src:url(../fonts/proximanova-xbold-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/proximanova-xbold-webfont.woff) format("woff"),url(../fonts/proximanova-xbold-webfont.ttf) format("truetype"),url(../fonts/proximanova-xbold-webfont.svg#proxima_nova_rgregular) format("svg")
}
body.compensate-for-scrollbar{
    overflow:hidden
}
.fancybox-active{
    height:auto
}
.fancybox-is-hidden{
    left:-9999px;
    margin:0;
    position:absolute!important;
    top:-9999px;
    visibility:hidden
}
.fancybox-container{
    -webkit-backface-visibility:hidden;
    height:100%;
    left:0;
    outline:none;
    position:fixed;
    -webkit-tap-highlight-color:transparent;
    top:0;
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    transform:translateZ(0);
    width:100%;
    z-index:99992
}
.fancybox-container *{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.fancybox-bg,.fancybox-inner,.fancybox-outer,.fancybox-stage{
    bottom:0;
    left:0;
    position:absolute;
    right:0;
    top:0
}
.fancybox-outer{
    -webkit-overflow-scrolling:touch;
    overflow-y:auto
}
.fancybox-bg{
    background-color:#004bcf;
    background-image:url(../images/bg-main.png);
    background-position:bottom;
    background-repeat:no-repeat;
    -moz-background-size:cover;
    background-size:cover;
    opacity:0;
    -webkit-transition-duration:inherit;
    -moz-transition-duration:inherit;
    -o-transition-duration:inherit;
    transition-duration:inherit;
    -webkit-transition-property:opacity;
    -o-transition-property:opacity;
    -moz-transition-property:opacity;
    transition-property:opacity;
    -webkit-transition-timing-function:cubic-bezier(.47,0,.74,.71);
    -moz-transition-timing-function:cubic-bezier(.47,0,.74,.71);
    -o-transition-timing-function:cubic-bezier(.47,0,.74,.71);
    transition-timing-function:cubic-bezier(.47,0,.74,.71)
}
.fancybox-is-open .fancybox-bg{
    opacity:1;
    -webkit-transition-timing-function:cubic-bezier(.22,.61,.36,1);
    -moz-transition-timing-function:cubic-bezier(.22,.61,.36,1);
    -o-transition-timing-function:cubic-bezier(.22,.61,.36,1);
    transition-timing-function:cubic-bezier(.22,.61,.36,1)
}
.fancybox-navigation .fancybox-button,.fancybox-toolbar{
    opacity:0;
    -webkit-transition:opacity .25s ease,visibility 0s ease .25s;
    -o-transition:opacity .25s ease,visibility 0s ease .25s;
    -moz-transition:opacity .25s ease,visibility 0s ease .25s;
    transition:opacity .25s ease,visibility 0s ease .25s;
    position:absolute;
    z-index:99997
}
.fancybox-is-open .fancybox-navigation .fancybox-button,.fancybox-is-open .fancybox-toolbar{
    opacity:1;
    -webkit-transition:opacity .25s ease 0s,visibility 0s ease 0s;
    -o-transition:opacity .25s ease 0s,visibility 0s ease 0s;
    -moz-transition:opacity .25s ease 0s,visibility 0s ease 0s;
    transition:opacity .25s ease 0s,visibility 0s ease 0s;
    visibility:visible
}
.fancybox-caption,.fancybox-infobar{
    display:none
}
.fancybox-toolbar{
    margin:0;
    right:37px;
    top:24px
}
.fancybox-toolbar.compensate-for-scrollbar{
    margin:0
}
.fancybox-stage{
    direction:ltr;
    overflow:visible;
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    transform:translateZ(0);
    z-index:99994
}
.fancybox-is-open .fancybox-stage{
    overflow:hidden
}
.fancybox-slide{
    -webkit-backface-visibility:hidden;
    display:none;
    height:100%;
    left:0;
    outline:none;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
    position:absolute;
    text-align:center;
    top:0;
    -webkit-transition-property:opacity,-webkit-transform;
    transition-property:opacity,-webkit-transform;
    -o-transition-property:opacity,-o-transform;
    -moz-transition-property:transform,opacity,-moz-transform;
    transition-property:transform,opacity;
    transition-property:transform,opacity,-webkit-transform,-moz-transform,-o-transform;
    white-space:normal;
    width:100%;
    z-index:99994
}
.fancybox-slide:before{
    content:"";
    display:inline-block;
    font-size:0;
    height:100%;
    vertical-align:middle;
    width:0
}
.fancybox-is-sliding .fancybox-slide,.fancybox-slide--current,.fancybox-slide--next,.fancybox-slide--previous{
    display:block
}
.fancybox-slide--image{
    overflow:hidden;
    padding:44px 0
}
.fancybox-slide--image:before{
    display:none
}
.fancybox-content{
    display:inline-block;
    margin:0;
    width:100%;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
    padding:75px 0 30px;
    position:relative;
    text-align:left;
    vertical-align:middle
}
.fancybox-content iframe{
    width:700px;
    height:400px;
    margin:0 auto;
    display:block;
    position:relative
}
.fancybox-slide--image .fancybox-content{
    -webkit-animation-timing-function:cubic-bezier(.5,0,.14,1);
    -moz-animation-timing-function:cubic-bezier(.5,0,.14,1);
    -o-animation-timing-function:cubic-bezier(.5,0,.14,1);
    animation-timing-function:cubic-bezier(.5,0,.14,1);
    -webkit-backface-visibility:hidden;
    background:transparent;
    background-repeat:no-repeat;
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    left:0;
    max-width:none;
    overflow:visible;
    padding:0;
    position:absolute;
    top:0;
    -webkit-transform-origin:top left;
    -moz-transform-origin:top left;
    -ms-transform-origin:top left;
    -o-transform-origin:top left;
    transform-origin:top left;
    -webkit-transition-property:opacity,-webkit-transform;
    transition-property:opacity,-webkit-transform;
    -o-transition-property:opacity,-o-transform;
    -moz-transition-property:transform,opacity,-moz-transform;
    transition-property:transform,opacity;
    transition-property:transform,opacity,-webkit-transform,-moz-transform,-o-transform;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    z-index:99995
}
.fancybox-can-zoomOut .fancybox-content{
    cursor:-webkit-zoom-out;
    cursor:-moz-zoom-out;
    cursor:zoom-out
}
.fancybox-can-zoomIn .fancybox-content{
    cursor:-webkit-zoom-in;
    cursor:-moz-zoom-in;
    cursor:zoom-in
}
.fancybox-can-pan .fancybox-content,.fancybox-can-swipe .fancybox-content{
    cursor:-webkit-grab;
    cursor:-moz-grab;
    cursor:grab
}
.fancybox-is-grabbing .fancybox-content{
    cursor:-webkit-grabbing;
    cursor:-moz-grabbing;
    cursor:grabbing
}
.fancybox-container [data-selectable=true]{
    cursor:text
}
.fancybox-image,.fancybox-spaceball{
    background:transparent;
    border:0;
    height:100%;
    left:0;
    margin:0;
    max-height:none;
    max-width:none;
    padding:0;
    position:absolute;
    top:0;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    width:100%
}
.fancybox-spaceball{
    z-index:1
}
.fancybox-slide--iframe .fancybox-content,.fancybox-slide--map .fancybox-content,.fancybox-slide--pdf .fancybox-content,.fancybox-slide--video .fancybox-content{
    height:100%;
    overflow:visible;
    padding:0;
    width:100%
}
.fancybox-slide--video .fancybox-content{
    background:#000
}
.fancybox-slide--map .fancybox-content{
    background:#e5e3df
}
.fancybox-slide--iframe .fancybox-content{
    background:#fff
}
.fancybox-iframe,.fancybox-video{
    background:transparent;
    border:0;
    display:block;
    height:100%;
    margin:0;
    overflow:hidden;
    padding:0;
    width:100%
}
.fancybox-iframe{
    left:0;
    position:absolute;
    top:0
}
.fancybox-error{
    background:#fff;
    cursor:default;
    max-width:33.333em;
    padding:3.333em;
    width:100%
}
.fancybox-button{
    width:40px;
    height:40px;
    padding:5px;
    margin:0;
    background:transparent;
    border:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    font-size:14px;
    cursor:pointer;
    display:inline-block;
    position:relative;
    -webkit-transition:color .2s;
    -o-transition:color .2s;
    -moz-transition:color .2s;
    transition:color .2s;
    vertical-align:top;
    visibility:inherit
}
.fancybox-button[disabled]{
    display:none
}
.fancybox-button,.fancybox-button:link,.fancybox-button:visited{
    color:#fff
}
.fancybox-button:hover{
    color:#c52b36
}
.fancybox-button:focus{
    outline:none
}
.fancybox-button.fancybox-focus{
    outline:.09em dotted
}
.fancybox-button[disabled],.fancybox-button[disabled]:hover{
    color:#000;
    cursor:default;
    outline:none
}
.fancybox-button div{
    height:100%
}
.fancybox-button svg{
    display:block;
    height:100%;
    overflow:visible;
    fill:#fff;
    position:relative;
    width:100%
}
.fancybox-button svg path{
    fill:currentColor;
    stroke-width:0
}
.fancybox-button--fsenter,.fancybox-button--play,.fancybox-button--thumbs,.fancybox-button--zoom{
    display:none
}
.fancybox-progress{
    background:#ff5268;
    height:.167em;
    left:0;
    position:absolute;
    right:0;
    top:0;
    -ms-transform:scaleX(0);
    -webkit-transform:scaleX(0);
    -moz-transform:scaleX(0);
    -o-transform:scaleX(0);
    transform:scaleX(0);
    -ms-transform-origin:0;
    -webkit-transform-origin:0;
    -moz-transform-origin:0;
    -o-transform-origin:0;
    transform-origin:0;
    -webkit-transition-property:-webkit-transform;
    transition-property:-webkit-transform;
    -o-transition-property:-o-transform;
    -moz-transition-property:transform,-moz-transform;
    transition-property:transform;
    transition-property:transform,-webkit-transform,-moz-transform,-o-transform;
    -webkit-transition-timing-function:linear;
    -moz-transition-timing-function:linear;
    -o-transition-timing-function:linear;
    transition-timing-function:linear;
    z-index:99998
}
.fancybox-close-small{
    width:3.333em;
    height:3.333em;
    margin:-1.667em 0 0;
    background:#c52b36;
    color:#fff;
    right:4.667em;
    z-index:401
}
.fancybox-close-small,.fancybox-close-small:before{
    display:block;
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
    position:absolute;
    top:50%
}
.fancybox-close-small:before{
    content:"\e904";
    speak:none;
    font-style:normal;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-size:1.4em;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    left:50%
}
.fancybox-close-small:hover{
    background:#000;
    color:#fff
}
.fancybox-is-scaling .fancybox-close-small,.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small{
    display:none
}
.fancybox-loading{
    -webkit-animation:a 1s linear infinite;
    -moz-animation:a 1s linear infinite;
    -o-animation:a 1s linear infinite;
    animation:a 1s linear infinite;
    background:transparent;
    border:.333em solid #888;
    border-bottom-color:#fff;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    height:4.167em;
    left:50%;
    margin:-2.083em 0 0 -2.083em;
    opacity:.7;
    padding:0;
    position:absolute;
    top:50%;
    width:4.167em;
    z-index:99999
}
@-webkit-keyframes a{
    to{
        -webkit-transform:rotate(1turn);
        transform:rotate(1turn)
    }

}
@-moz-keyframes a{
    to{
        -moz-transform:rotate(1turn);
        transform:rotate(1turn)
    }

}
@-o-keyframes a{
    to{
        -o-transform:rotate(1turn);
        transform:rotate(1turn)
    }

}
@keyframes a{
    to{
        -webkit-transform:rotate(1turn);
        -moz-transform:rotate(1turn);
        -o-transform:rotate(1turn);
        transform:rotate(1turn)
    }

}
.fancybox-animated{
    -webkit-transition-timing-function:cubic-bezier(0,0,.25,1);
    -moz-transition-timing-function:cubic-bezier(0,0,.25,1);
    -o-transition-timing-function:cubic-bezier(0,0,.25,1);
    transition-timing-function:cubic-bezier(0,0,.25,1)
}
.fancybox-fx-slide.fancybox-slide--previous{
    opacity:0;
    -webkit-transform:translate3d(-100%,0,0);
    -moz-transform:translate3d(-100%,0,0);
    transform:translate3d(-100%,0,0)
}
.fancybox-fx-slide.fancybox-slide--next{
    opacity:0;
    -webkit-transform:translate3d(100%,0,0);
    -moz-transform:translate3d(100%,0,0);
    transform:translate3d(100%,0,0)
}
.fancybox-fx-slide.fancybox-slide--current{
    opacity:1;
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    transform:translateZ(0)
}
.fancybox-fx-fade.fancybox-slide--next,.fancybox-fx-fade.fancybox-slide--previous{
    opacity:0;
    -webkit-transition-timing-function:cubic-bezier(.19,1,.22,1);
    -moz-transition-timing-function:cubic-bezier(.19,1,.22,1);
    -o-transition-timing-function:cubic-bezier(.19,1,.22,1);
    transition-timing-function:cubic-bezier(.19,1,.22,1)
}
.fancybox-fx-fade.fancybox-slide--current{
    opacity:1
}
.fancybox-fx-zoom-in-out.fancybox-slide--previous{
    opacity:0;
    -webkit-transform:scale3d(1.5,1.5,1.5);
    -moz-transform:scale3d(1.5,1.5,1.5);
    transform:scale3d(1.5,1.5,1.5)
}
.fancybox-fx-zoom-in-out.fancybox-slide--next{
    opacity:0;
    -webkit-transform:scale3d(.5,.5,.5);
    -moz-transform:scale3d(.5,.5,.5);
    transform:scale3d(.5,.5,.5)
}
.fancybox-fx-zoom-in-out.fancybox-slide--current{
    opacity:1;
    -webkit-transform:scaleX(1);
    -moz-transform:scaleX(1);
    -ms-transform:scaleX(1);
    -o-transform:scaleX(1);
    transform:scaleX(1)
}
.fancybox-fx-rotate.fancybox-slide--previous{
    opacity:0;
    -ms-transform:rotate(-1turn);
    -webkit-transform:rotate(-1turn);
    -moz-transform:rotate(-1turn);
    -o-transform:rotate(-1turn);
    transform:rotate(-1turn)
}
.fancybox-fx-rotate.fancybox-slide--next{
    opacity:0;
    -ms-transform:rotate(1turn);
    -webkit-transform:rotate(1turn);
    -moz-transform:rotate(1turn);
    -o-transform:rotate(1turn);
    transform:rotate(1turn)
}
.fancybox-fx-rotate.fancybox-slide--current{
    opacity:1;
    -ms-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg)
}
.fancybox-fx-circular.fancybox-slide--previous{
    opacity:0;
    -webkit-transform:scale3d(0,0,0) translate3d(-100%,0,0);
    -moz-transform:scale3d(0,0,0) translate3d(-100%,0,0);
    transform:scale3d(0,0,0) translate3d(-100%,0,0)
}
.fancybox-fx-circular.fancybox-slide--next{
    opacity:0;
    -webkit-transform:scale3d(0,0,0) translate3d(100%,0,0);
    -moz-transform:scale3d(0,0,0) translate3d(100%,0,0);
    transform:scale3d(0,0,0) translate3d(100%,0,0)
}
.fancybox-fx-circular.fancybox-slide--current{
    opacity:1;
    -webkit-transform:scaleX(1) translateZ(0);
    -moz-transform:scaleX(1) translateZ(0);
    transform:scaleX(1) translateZ(0)
}
.fancybox-fx-tube.fancybox-slide--previous{
    -webkit-transform:translate3d(-100%,0,0) scale(.1) skew(-10deg);
    -moz-transform:translate3d(-100%,0,0) scale(.1) skew(-10deg);
    transform:translate3d(-100%,0,0) scale(.1) skew(-10deg)
}
.fancybox-fx-tube.fancybox-slide--next{
    -webkit-transform:translate3d(100%,0,0) scale(.1) skew(10deg);
    -moz-transform:translate3d(100%,0,0) scale(.1) skew(10deg);
    transform:translate3d(100%,0,0) scale(.1) skew(10deg)
}
.fancybox-fx-tube.fancybox-slide--current{
    -webkit-transform:translateZ(0) scale(1);
    -moz-transform:translateZ(0) scale(1);
    transform:translateZ(0) scale(1)
}
.b-btn{
    min-width:239px;
    height:68px;
    padding:15px 24px;
    border:none;
    background:#222;
    /*background:#3c3a52;*/
    -webkit-border-radius:34px;
    -moz-border-radius:34px;
    border-radius:34px;
    font-family:Montserrat,sans-serif;
    font-size:16px;
    font-weight:700;
    line-height:36px;
    text-align:center;
    color:#fff;
    text-decoration:none;
    text-transform:none;
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
    cursor:pointer;
    z-index:5
}
.b-btn,.b-btn .arrow{
    display:inline-block;
    vertical-align:middle;
    position:relative
}
.b-btn .arrow{
    width:15px;
    height:10px;
    margin:-2px 0 0 18px;
    overflow:hidden
}
.b-btn .arrow svg{
    width:26px;
    height:100%;
    display:block;
    fill:#ed3b47;
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
    position:absolute;
    top:0;
    right:0
}
.b-btn:hover{
    background:#c52b36;
    color:#fff
}
.b-btn:hover .arrow svg{
    fill:#fff
}
.b-btn--xs{
    min-width:121px;
    height:40px;
    padding:10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font-size:12px;
    line-height:20px
}
.b-btn--sm{
    min-width:124px;
    height:51px;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
    line-height:21px
}
.b-btn--red-dark{
    background:#6c63ff
}
.b-btn--red-dark .arrow svg{
    fill:#fff
}
.b-btn--red-dark:hover,.b-btn--red-light{
    background:#5c7cff
}
.b-btn--red-light .arrow svg{
    fill:#fff
}
.b-btn--red-light:hover{
    background:#c52b36
}
.b-btn--blue{
    background:#4d5fe6;
    text-transform:uppercase
}
.b-btn--blue .arrow svg{
    fill:#fff
}
.b-btn--blue:hover{
    background:#ed3b47
}
.b-btn-play{
    width:56px;
    height:68px;
    display:block;
    background:0 0 url(../images/play.png) no-repeat;
    text-indent:-9999em;
    opacity:.6;
    overflow:hidden;
    position:relative
}
.b-link{
    padding-right:11px;
    border:none;
    background:none;
    font-family:Montserrat,sans-serif;
    font-size:15px;
    font-weight:700;
    line-height:26px;
    color:#fff;
    text-decoration:none;
    cursor:pointer
}
.b-link,.b-link .arrow{
    display:inline-block;
    vertical-align:middle;
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
    position:relative
}
.b-link .arrow{
    width:15px;
    height:10px;
    margin:-1px 0 0 9px;
    overflow:hidden
}
.b-link .arrow svg{
    width:26px;
    height:100%;
    display:block;
    fill:#fff;
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
    position:absolute;
    top:0;
    right:0
}
.b-link:hover{
    padding-right:0;
    color:#ed3b47
}
.b-link:hover .arrow{
    width:26px
}
.b-link:hover .arrow svg{
    fill:#ed3b47
}
.b-link--red{
    color:#c52b36
}
.b-link--red .arrow svg{
    fill:#c52b36
}
.b-link--red:hover{
    color:#ed3b47
}
.b-link--red:hover .arrow svg{
    fill:#ed3b47
}
.b-btn-down{
    padding-left:30px;
    display:inline-block;
    vertical-align:middle;
    font-family:Montserrat,sans-serif;
    font-size:12px;
    font-weight:700;
    color:#ed3b47;
    text-decoration:none;
    text-transform:uppercase;
    position:relative
}
.b-btn-down .icon{
    width:17px;
    height:17px;
    margin-top:-9px;
    display:block;
    position:absolute;
    top:50%;
    left:0
}
.b-btn-down .icon svg{
    width:100%;
    height:100%;
    display:block;
    fill:#ed3b47;
    position:absolute;
    top:0;
    left:0
}
.b-btn-down:hover{
    color:#c52b36;
    text-decoration:none
}
.b-btn-down:hover .icon svg{
    fill:#c52b36
}
.jq-radio{
    width:12px;
    height:12px;
    margin:1px 10px 0 0;
    display:inline-block;
    border:1px solid #bcbcbc;
    background:#f2eded;
    border-radius:50%;
    cursor:pointer;
    font-size:12px;
    line-height:12px;
    position:relative
}
.jq-radio,.jq-radio__div{
    -webkit-border-radius:50%;
    -moz-border-radius:50%
}
.jq-radio__div{
    width:6px;
    height:6px;
    margin:-3px 0 0 -3px;
    display:block;
    background-color:transparent;
    border-radius:50%;
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
    position:absolute;
    top:50%;
    left:50%
}
.jq-radio.checked .jq-radio__div{
    background:#6f6f6f
}
.jq-checkbox{
    width:12px;
    height:12px;
    margin:1px 10px 0 0;
    display:inline-block;
    border:1px solid #bcbcbc;
    background:#f2eded;
    cursor:pointer;
    font-size:12px;
    line-height:12px;
    position:relative
}
.jq-checkbox__div{
    width:6px;
    height:6px;
    margin:-3px 0 0 -3px;
    display:block;
    background-color:transparent;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
    position:absolute;
    top:50%;
    left:50%
}
.jq-checkbox.checked .jq-checkbox__div{
    background:#6f6f6f
}
.jq-checkbox input,.jq-radio input{
    position:absolute;
    z-index:-1;
    margin:0;
    padding:0;
    opacity:0
}
.b-ld-input{
    padding-left:23px;
    display:inline-block;
    vertical-align:top;
    line-height:14px;
    position:relative;
    cursor:pointer
}
.b-ld-input .jq-checkbox,.b-ld-input .jq-radio{
    position:absolute;
    top:1px;
    left:0
}
.b-input,.b-textarea{
    width:100%;
    height:52px;
    padding:10px 13px;
    display:block;
    border:none;
    background:#f2eded;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font-size:16px;
    line-height:32px;
    color:#222;
    position:relative
}
.b-textarea{
    height:126px;
    line-height:17px
}
.b-label{
    padding:0 0 11px;
    display:block;
    line-height:14px;
    position:relative
}
.b-form-txt{
    max-width:280px;
    margin:0 auto;
    padding:0 0 24px;
    font-size:17px;
    line-height:26px;
    text-align:center
}
.b-form-line{
    padding:15px 0;
    text-align:left;
    position:relative
}
.b-form-line--row{
    margin:0 -8px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -moz-box-orient:horizontal;
    -moz-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -moz-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-align-content:stretch;
    -ms-flex-line-pack:stretch;
    align-content:stretch
}
.b-form-line--center{
    text-align:center
}
.b-form-line__col{
    width:50%;
    padding:0 8px
}
.b-form-btn{
    padding:10px 0;
    text-align:center
}
.b-form-btn .b-btn{
    font-size:16px
}
.slick-slider{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -ms-touch-action:pan-y;
    touch-action:pan-y;
    -webkit-tap-highlight-color:transparent
}
.slick-list,.slick-slider{
    position:relative;
    display:block
}
.slick-list{
    overflow:hidden;
    margin:0;
    padding:0
}
.slick-list:focus{
    outline:none
}
.slick-list.dragging{
    cursor:pointer;
    cursor:hand
}
.slick-slider .slick-list,.slick-slider .slick-track{
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    -o-transform:translateZ(0);
    transform:translateZ(0)
}
.slick-track{
    position:relative;
    left:0;
    top:0;
    display:block;
    margin-left:auto;
    margin-right:auto
}
.slick-track:after,.slick-track:before{
    content:"";
    display:table
}
.slick-track:after{
    clear:both
}
.slick-loading .slick-track{
    visibility:hidden
}
.slick-slide{
    float:left;
    height:100%;
    min-height:1px;
    display:none
}
[dir=rtl] .slick-slide{
    float:right
}
.slick-slide img{
    display:block
}
.slick-slide.slick-loading img{
    display:none
}
.slick-slide.dragging img{
    pointer-events:none
}
.slick-initialized .slick-slide{
    display:block
}
.slick-loading .slick-slide{
    visibility:hidden
}
.slick-vertical .slick-slide{
    display:block;
    height:auto;
    border:1px solid transparent
}
.slick-arrow.slick-hidden{
    display:none
}
.slick-dots{
    text-align:center;
    position:relative
}
.slick-dots li{
    padding:0 7px;
    display:inline-block;
    vertical-align:middle
}
.slick-dots li button{
    width:4px;
    height:4px;
    display:block;
    border:none;
    background:#fff;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
    text-indent:-9999em;
    text-align:left;
    position:relative;
    overflow:hidden;
    cursor:pointer
}
.slick-dots li.slick-active button,.slick-dots li button:hover{
    background:#ed3b47
}
.fp-enabled body,html.fp-enabled{
    margin:0;
    padding:0;
    overflow:hidden;
    -webkit-tap-highlight-color:transparent
}
.fp-section{
    position:relative
}
.fp-slide{
    float:left
}
.fp-slide,.fp-slidesContainer{
    height:100%;
    display:block
}
.fp-slides{
    z-index:1;
    height:100%;
    overflow:hidden;
    position:relative;
    -webkit-transition:all .3s ease-out;
    -o-transition:all .3s ease-out;
    -moz-transition:all .3s ease-out;
    transition:all .3s ease-out
}
.fp-section.fp-table,.fp-slide.fp-table{
    display:table;
    table-layout:fixed;
    width:100%
}
.fp-tableCell{
    display:table-cell;
    vertical-align:middle;
    width:100%;
    height:100%
}
.fp-slidesContainer{
    float:left;
    position:relative
}
.fp-scrollable{
    position:relative
}
.fp-scrollable,.fp-scroller{
    overflow:hidden
}
.iScrollIndicator{
    border:0!important
}
.fp-notransition{
    -webkit-transition:none!important;
    -o-transition:none!important;
    -moz-transition:none!important;
    transition:none!important
}
#fp-nav{
    position:fixed;
    z-index:100;
    margin-top:-2.667em;
    top:50%;
    opacity:1
}
#fp-nav.fp-right{
    right:2.083em
}
#fp-nav.fp-left{
    left:2.083em
}
#fp-nav li{
    padding:.583em 0;
    position:relative
}
#fp-nav li a{
    width:.833em;
    height:.833em;
    display:block;
    border:.083em solid #000;
    background-color:transparent;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    -webkit-transition:all .1s ease-in-out;
    -o-transition:all .1s ease-in-out;
    -moz-transition:all .1s ease-in-out;
    transition:all .1s ease-in-out;
    position:relative
}
#fp-nav li a:hover{
    border:none;
    background-color:#c52b36
}
#fp-nav li a.active{
    border:none;
    background:#000
}
#fp-nav li a.active:hover{
    border:none;
    background-color:#000
}
#fp-nav li a span{
    display:none
}
.fp-auto-height.fp-section,.fp-auto-height .fp-slide,.fp-auto-height .fp-tableCell,.fp-responsive .fp-auto-height-responsive.fp-section,.fp-responsive .fp-auto-height-responsive .fp-slide,.fp-responsive .fp-auto-height-responsive .fp-tableCell{
    height:auto!important
}
.iScrollVerticalScrollbar{
    opacity:0
}
*,:after,:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
body,html{
    width:100%;
    min-height:100%;
    height:auto!important;
    font-family:Roboto,sans-serif;
    font-size:15px;
    font-weight:400;
    line-height:26px;
    color:#6c7289;
    position:relative
}
article,aside,audio,blockquote,body,button,canvas,command,datalist,dd,details,div,dl,dt,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,img,input,keygen,li,main,mark,menu,meter,nav,ol,output,p,progress,rp,rt,ruby,section,select,source,summary,table,td,textarea,theder,time,ul,video,wbr{
    padding:0;
    margin:0
}
address,article,aside,audio,canvas,command,datalist,details,figcaption,figure,footer,header,hgroup,keygen,main,mark,menu,meter,nav,output,progress,rp,rt,ruby,section,source,summary,time,video,wbr{
    display:block;
    font-style:normal
}
li,ol,ul{
    list-style:none
}
:active,:focus,a,button,input,textarea{
    outline:none!important;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none
}
button,input,textarea{
    font-family:Roboto,sans-serif;
    font-weight:400;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0
}
textarea{
    resize:none
}
::-moz-focus-inner{
    border:none
}
a{
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
    text-decoration:underline
}
a:hover{
    text-decoration:none
}
strong{
    font-weight:500
}
::-webkit-input-placeholder{
    opacity:.5;
    -webkit-transition:opacity .3s ease;
    -o-transition:opacity .3s ease;
    -moz-transition:opacity .3s ease;
    transition:opacity .3s ease
}
:-moz-placeholder,::-moz-placeholder{
    opacity:.5;
    -webkit-transition:opacity .3s ease;
    -o-transition:opacity .3s ease;
    -moz-transition:opacity .3s ease;
    transition:opacity .3s ease
}
:-ms-input-placeholder{
    opacity:.5;
    -webkit-transition:opacity .3s ease;
    -o-transition:opacity .3s ease;
    -moz-transition:opacity .3s ease;
    transition:opacity .3s ease
}
:focus::-webkit-input-placeholder{
    opacity:0;
    -moz-transition:opacity .3s ease
}
:focus:-moz-placeholder,:focus::-moz-placeholder{
    opacity:0;
    -moz-transition:opacity .3s ease
}
:focus:-ms-input-placeholder{
    opacity:0;
    -webkit-transition:opacity .3s ease;
    -o-transition:opacity .3s ease;
    -moz-transition:opacity .3s ease;
    transition:opacity .3s ease
}
.cf:after,.cf:before{
    content:"";
    display:block;
    overflow:hidden
}
.cf:after{
    clear:both
}
.b-about .b-center,.b-cooki__entry,.b-examples-post__txt,.b-flex,.b-header .b-center,.b-newsl-form,.b-post-prev,.b-registr__entry{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -moz-box-orient:horizontal;
    -moz-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -moz-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-align-content:stretch;
    -ms-flex-line-pack:stretch;
    align-content:stretch
}
.b-about .b-center,.b-cooki__entry,.b-flex--middle,.b-header .b-center,.b-newsl-form,.b-post-prev{
    -webkit-box-align:center;
    -webkit-align-items:center;
    -moz-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.b-about .b-center,.b-cooki__entry,.b-flex--space-between,.b-header .b-center,.b-newsl-form,.b-registr__entry{
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -moz-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.b-flex--bottom,.b-flex--end,.b-flex--end-col{
    -webkit-box-align:end;
    -webkit-align-items:flex-end;
    -moz-box-align:end;
    -ms-flex-align:end;
    align-items:flex-end
}
.b-examples-post__txt,.b-flex--bottom-col,.b-flex--end-col,.b-flex--middle-col,.b-flex--top-col{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -moz-box-orient:vertical;
    -moz-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column
}
.b-examples-post__txt,.b-flex--middle-col{
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -moz-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center
}
.b-flex--bottom-col{
    -webkit-box-pack:end;
    -webkit-justify-content:flex-end;
    -moz-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end
}
.b-flex--top-col{
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -moz-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start
}
.b-flex--right{
    -webkit-box-pack:end;
    -webkit-justify-content:flex-end;
    -moz-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end
}
.b-flex--center{
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -moz-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center
}
.b-center{
    max-width:1150px;
    margin:0 auto;
    padding:0 20px;
    z-index:10
}
.b-center,.b-tit{
    position:relative
}
.b-tit{
    font-family:Montserrat,sans-serif;
    font-size:48px;
    font-weight:800;
    line-height:57px;
    color:#222;
    z-index:2
}
.b-tit span{
    display:inline-block;
    vertical-align:top;
    position:relative
}
.b-tit span:before{
    width:100%;
    height:9px;
    display:block;
    content:"";
    background:#ed3b47;
    position:absolute;
    bottom:6px;
    left:0;
    z-index:-1
}
.b-tit--md{
    font-size:36px;
    line-height:54px
}
.b-tit--sm{
    font-size:30px;
    line-height:35px
}
.b-tit--xs{
    font-size:36px;
    line-height:43px
}
.b-tit--xxs{
    font-size:12px;
    line-height:16px;
    text-transform:uppercase
}
.b-sub-tit{
    font-family:Montserrat,sans-serif;
    font-size:17px;
    font-weight:800
}
.b-sub-tit--lg{
    font-size:24px;
    line-height:30px;
    color:#222
}
.b-share-nav{
    font-family:Montserrat,sans-serif;
    font-size:14px;
    font-weight:700;
    white-space:nowrap;
    position:relative
}
.b-share-nav ul li{
    padding-left:16px;
    display:inline-block;
    vertical-align:middle
}
.b-share-nav ul li:first-child{
    padding-left:0
}
.b-share-nav ul li a{
    color:#222;
    text-decoration:none
}
.b-share-nav ul li a:hover{
    color:#ed3b47;
    text-decoration:none
}
.b-share-nav--white ul li a{
    color:#a3afff
}
.b-share-nav--white ul li a:hover{
    color:#fff
}
.align-center{
    max-width:100%;
    margin:50px auto;
    display:block;
    position:relative
}
.b-page-nav{
    padding:10px 0 20px;
    font-family:Montserrat,sans-serif;
    font-size:14px;
    font-weight:800;
    line-height:51px;
    text-align:center;
    position:relative
}
.b-page-nav__item{
    margin:0 -2px;
    display:inline-block;
    vertical-align:middle;
    position:relative
}
.b-page-nav a,.b-page-nav span{
    width:51px;
    display:block;
    padding:0;
    background-color:transparent;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    color:#222;
    text-decoration:none;
    position:relative
}
.b-page-nav a:hover,.b-page-nav span:hover{
    background:#c52b36;
    color:#fff;
    position:relative
}
.b-page-nav span{
    background:#c52b36;
    color:#fff
}
.vs-sm{
    display:none
}
.b-page{
    position:relative;
    overflow:hidden
}
.b-page__header{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:10
}
.b-page__body{
    position:relative;
    z-index:5
}
.b-cooki{
    width:100%;
    display:none;
    position:fixed;
    bottom:44px;
    left:0;
    z-index:20
}
.b-cooki__entry{
    padding:7px 7px 7px 40px;
    background:#fff;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    border-radius:7px;
    font-size:12px;
    font-weight:400;
    line-height:14px;
    color:#222;
    position:relative
}
.b-cooki__entry-txt{
    padding:0 10px 0 0
}
.b-cooki__entry-txt a{
    font-weight:700;
    color:#4d5fe6;
    text-decoration:none
}
.b-cooki__entry-txt a:hover{
    color:#c52b36
}
.b-header{
    padding:37px 0
}
.b-header,.b-header:before{
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease
}
.b-header:before{
    width:100%;
    height:100%;
    display:block;
    content:"";
    background:#fff;
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    z-index:1
}
.b-header.fix{
    padding:15px 0
}
.b-header.fix:before{
    opacity:1
}
.b-logo{
    position:relative;
    z-index:10
}
.b-logo img{
    width: 195px;
}
.b-logo a{
    padding:0px 0px 0px 10px;
    display:block;
    font-family:Montserrat,sans-serif;
    font-weight:700;
    font-size:20px;
    line-height:22px;
    letter-spacing:2px;
    color:#3140a9;
    text-transform:uppercase;
    text-decoration:none;
    position:relative
}
.b-logo a span{
    display:block;
    font-size:18px;
    letter-spacing:0;
    color:#222;
    text-transform:none
}
.b-logo a span.icon{
    width:50px;
    height:68px;
    margin-top:-34px;
    display:block;
    position:absolute;
    top:50%;
    left:0
}
.b-logo a span.icon svg{
    width:180px;
    height:100%;
    display:block;
    fill:#3f3d56;
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
    position:absolute;
    top:0;
    left:0
}
.b-nav__btn{
    width:35px;
    height:35px;
    margin:0 -5px 0 20px;
    display:none;
    cursor:pointer;
    position:relative;
    z-index:6
}
.b-nav__btn span{
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
    text-indent:-9999em;
    top:50%;
    left:5px;
    right:5px
}
.b-nav__btn span,.b-nav__btn span:after,.b-nav__btn span:before{
    height:2px;
    display:block;
    background:#c52b36;
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
    position:absolute
}
.b-nav__btn span:after,.b-nav__btn span:before{
    width:100%;
    content:"";
    left:0
}
.b-nav__btn span:before{
    top:-8px
}
.b-nav__btn span:after{
    bottom:-8px
}
.b-nav__btn:hover span,.b-nav__btn:hover span:after,.b-nav__btn:hover span:before{
    background:#ed3b47
}
.b-nav__btn.is-open span{
    background-color:transparent
}
.b-nav__btn.is-open span:after,.b-nav__btn.is-open span:before{
    top:0;
    bottom:auto
}
.b-nav__btn.is-open span:before{
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg)
}
.b-nav__btn.is-open span:after{
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg)
}
.b-nav__list{
    font-family:Montserrat,sans-serif;
    font-size:12px;
    font-weight:700;
    line-height:14px;
    letter-spacing:1px;
    text-transform:uppercase;
    white-space:nowrap;
    position:relative;
    z-index:1
}
.b-nav__item{
    padding-left:28px;
    display:inline-block;
    vertical-align:middle
}
.b-nav__item:first-child{
    padding-left:0
}
.b-nav__item a{
    color:#bcbcbc;
    text-decoration:none
}
.b-nav__item a.b-btn{
    font-size:15px;
    color:#fff
}
.b-nav__item a:hover{
    color:#6c63ff
}
.b-nav__item a:hover.b-btn{
    color:#fff
}
.b-nav__item.is-active a{
    color:#ed3b47
}
.fp-viewing-cases .b-header:before,.fp-viewing-cost .b-header:before,.fp-viewing-footer .b-header:before,.fp-viewing-main .b-header:before,.fp-viewing-newsletter .b-header:before{
    background:#423f6b
}
.fp-viewing-cases .b-logo a,.fp-viewing-cost .b-logo a,.fp-viewing-footer .b-logo a,.fp-viewing-main .b-logo a,.fp-viewing-newsletter .b-logo a{
    color:#fff
}
.fp-viewing-cases .b-logo a span,.fp-viewing-cost .b-logo a span,.fp-viewing-footer .b-logo a span,.fp-viewing-main .b-logo a span,.fp-viewing-newsletter .b-logo a span{
    color:#a3afff
}
.fp-viewing-cases .b-logo a span.icon svg,.fp-viewing-cost .b-logo a span.icon svg,.fp-viewing-footer .b-logo a span.icon svg,.fp-viewing-main .b-logo a span.icon svg,.fp-viewing-newsletter .b-logo a span.icon svg{
    fill:#fff
}
.fp-viewing-cases .b-nav__btn span,.fp-viewing-cases .b-nav__btn span:after,.fp-viewing-cases .b-nav__btn span:before,.fp-viewing-cost .b-nav__btn span,.fp-viewing-cost .b-nav__btn span:after,.fp-viewing-cost .b-nav__btn span:before,.fp-viewing-footer .b-nav__btn span,.fp-viewing-footer .b-nav__btn span:after,.fp-viewing-footer .b-nav__btn span:before,.fp-viewing-main .b-nav__btn span,.fp-viewing-main .b-nav__btn span:after,.fp-viewing-main .b-nav__btn span:before,.fp-viewing-newsletter .b-nav__btn span,.fp-viewing-newsletter .b-nav__btn span:after,.fp-viewing-newsletter .b-nav__btn span:before{
    background:#fff
}
.fp-viewing-cases .b-nav__btn:hover span,.fp-viewing-cases .b-nav__btn:hover span:after,.fp-viewing-cases .b-nav__btn:hover span:before,.fp-viewing-cost .b-nav__btn:hover span,.fp-viewing-cost .b-nav__btn:hover span:after,.fp-viewing-cost .b-nav__btn:hover span:before,.fp-viewing-footer .b-nav__btn:hover span,.fp-viewing-footer .b-nav__btn:hover span:after,.fp-viewing-footer .b-nav__btn:hover span:before,.fp-viewing-main .b-nav__btn:hover span,.fp-viewing-main .b-nav__btn:hover span:after,.fp-viewing-main .b-nav__btn:hover span:before,.fp-viewing-newsletter .b-nav__btn:hover span,.fp-viewing-newsletter .b-nav__btn:hover span:after,.fp-viewing-newsletter .b-nav__btn:hover span:before{
    background:#ed3b47
}
.fp-viewing-cases .b-nav__btn.is-open span,.fp-viewing-cost .b-nav__btn.is-open span,.fp-viewing-footer .b-nav__btn.is-open span,.fp-viewing-main .b-nav__btn.is-open span,.fp-viewing-newsletter .b-nav__btn.is-open span{
    background-color:transparent
}
.fp-viewing-cases .b-nav__item a,.fp-viewing-cost .b-nav__item a,.fp-viewing-footer .b-nav__item a,.fp-viewing-main .b-nav__item a,.fp-viewing-newsletter .b-nav__item a{
    color:#fff
}
.fp-viewing-cases .b-nav__item a:hover,.fp-viewing-cost .b-nav__item a:hover,.fp-viewing-footer .b-nav__item a:hover,.fp-viewing-main .b-nav__item a:hover,.fp-viewing-newsletter .b-nav__item a:hover{
    color:#6c63ff
}
.fp-viewing-cases .b-nav__item a:hover.b-btn,.fp-viewing-cost .b-nav__item a:hover.b-btn,.fp-viewing-footer .b-nav__item a:hover.b-btn,.fp-viewing-main .b-nav__item a:hover.b-btn,.fp-viewing-newsletter .b-nav__item a:hover.b-btn{
    color:#fff
}
.fp-viewing-cases .b-nav__item.is-active a,.fp-viewing-cost .b-nav__item.is-active a,.fp-viewing-footer .b-nav__item.is-active a,.fp-viewing-main .b-nav__item.is-active a,.fp-viewing-newsletter .b-nav__item.is-active a{
    color:#ed3b47
}
.b-screen .b-center{
    padding-top:100px;
    padding-bottom:20px
}
.b-screen.b-footer .b-center{
    padding-top:0;
    padding-bottom:0
}
.b-screen .fp-scroller .b-center{
    padding-bottom:100px
}
.b-main{
    background-image:url(../images/block-1.png);
    background-position:bottom;
    background-repeat:no-repeat;
    -moz-background-size:cover;
    background-size:cover;
    font-size:16px;
    font-weight:300;
    line-height:24px;
    color:#fff;
    position:relative
}
.b-main__entry{
    padding:0 -webkit-calc(50% + 75px) 0 0;
    padding:0 -moz-calc(50% + 75px) 0 0;
    padding:0 calc(50% + 75px) 0 0;
    position:relative
}
.b-main__entry .b-tit{
    padding:0 0 29px;
    color:#fff
}
.b-main__entry p{
    padding:0 30px 49px 0
}
.b-main__entry-video{
    width:-webkit-calc(50% - 14px);
    width:-moz-calc(50% - 14px);
    width:calc(50% - 14px);
    height:370px;
    margin-top:-185px;
    overflow:hidden;
    cursor:pointer;
    position:absolute;
    top:50%;
    right:0
}
.b-main__entry-video iframe,.b-main__entry-video img{
    width:100%;
    height:100%;
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:1
}
.b-main__entry-video video{
    min-width:100%;
    min-height:100%;
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:1
}
.b-main__entry-video .b-btn-play{
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    position:absolute;
    top:50%;
    left:50%;
    z-index:10
}
.b-main__entry-btns{
    padding:0 0 40px
}
.b-main__entry-btns .b-btn{
    margin-right:34px;
    font-size:15px
}
.b-registr__entry{
    position:relative
}
.b-registr__entry-txt{
    width:-webkit-calc(50% + 82px);
    width:-moz-calc(50% + 82px);
    width:calc(50% + 82px);
    padding-right:82px;
    background-image:url(../images/bg-registr.png);
    background-position:100% 100%;
    background-repeat:no-repeat;
    -moz-background-size:-moz-calc(100% - 40px) auto;
    background-size:-webkit-calc(100% - 40px) auto;
    background-size:calc(100% - 40px) auto;
    position:relative
}
.b-registr__entry-form{
    width:-webkit-calc(50% - 82px);
    width:-moz-calc(50% - 82px);
    width:calc(50% - 82px);
    padding:36px 0 0 24px;
    position:relative
}
.b-services{
    text-align:center;
    position:relative
}
.b-services__list{
    padding:109px 0 82px
}
.b-ser-row,.b-ser-row__col{
    position:relative
}
.b-ser-row__col{
    width:33.33%;
    padding:0 40px;
    float:left
}
.b-ser-post__lb{
    padding:0 0 18px;
    font-size:12px;
    line-height:14px;
    text-transform:uppercase;
    color:#ed3b47
}
.b-ser-post__lb,.b-ser-post__tit{
    font-family:Montserrat,sans-serif;
    font-weight:700
}
.b-ser-post__tit{
    height:75px;
    margin:0 0 28px;
    font-size:30px;
    line-height:36px;
    color:#222;
    position:relative;
    overflow:hidden
}
.b-ser-post__entry{
    height:105px;
    margin:0 0 30px;
    position:relative;
    overflow:hidden
}
.b-ser-post__icon{
    width:175px;
    margin:0 auto;
    position:relative
}
.b-ser-post__icon img{
    width:100%;
    display:block;
    position:relative
}
.b-examples{
    background:#f2eded;
    line-height:24px;
    position:relative
}
.b-examples__entry{
    max-width:475px;
    padding:0 0 72px;
    position:relative
}
.b-examples .b-tit{
    padding:0 0 16px
}
.b-examples .b-link{
    margin:-2px 0 0 20px;
    vertical-align:top
}
.b-examples-list{
    margin:0 -27px 0 -28px;
    text-align:center;
    position:relative
}
.b-examples-list__item{
    width:25%;
    margin:0 -2px;
    padding:9px 27px 9px 28px;
    display:inline-block;
    vertical-align:top;
    position:relative
}
.b-examples-post{
    height:164px;
    padding:35px 15px 20px;
    text-align:center;
    background-color:transparent;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
    position:relative;
    overflow:hidden
}
.b-examples-post__icon{
    height:45px;
    margin-bottom:13px;
    position:relative
}
.b-examples-post__icon img{
    height:100%;
    margin:0 auto;
    display:block
}
.b-examples-post:hover{
    background:#fff;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,.2);
    -moz-box-shadow:0 0 20px rgba(0,0,0,.2);
    box-shadow:0 0 20px rgba(0,0,0,.2)
}
.b-examples-post__txt{
    width:100%;
    height:164px;
    padding:15px;
    background-image:url(../images/bg-img01.png);
    background-position:bottom;
    background-repeat:no-repeat;
    -moz-background-size:100% auto;
    background-size:100% auto;
    font-family:Montserrat,sans-serif;
    font-size:24px;
    font-weight:800;
    line-height:24px;
    text-align:center;
    color:#fff;
    text-decoration:none;
    position:relative
}
.b-examples-post--bg{
    padding:0;
    background:#d52a28
}
.b-examples-post--bg:hover{
    background:#d52a28
}
.b-cost{
    background-image:url(../images/bg-cost.png);
    background-position:bottom;
    background-repeat:no-repeat;
    -moz-background-size:cover;
    background-size:cover;
    color:#fff;
    position:relative
}
.b-cost__entry{
    max-width:50%;
    position:relative
}
.b-cost__entry-txt{
    padding:38px 0 41px;
    font-family:Montserrat,sans-serif;
    font-size:14px;
    font-weight:700
}
.b-cost .b-tit{
    color:#fff
}
.b-cost .b-btn{
    margin-right:41px;
    font-size:15px
}
.b-cost .b-link{
    font-size:12px;
    text-transform:uppercase
}
.b-about{
    font-size:14px;
    line-height:22px;
    position:relative
}
.b-about__img{
    width:-webkit-calc(50% - 30px);
    width:-moz-calc(50% - 30px);
    width:calc(50% - 30px);
    position:relative
}
.b-about__img img{
    width:100%;
    display:block
}
.b-about__txt{
    width:-webkit-calc(50% - 30px);
    width:-moz-calc(50% - 30px);
    width:calc(50% - 30px);
    position:relative
}
.b-about__txt-entry{
    padding:0 0 29px
}
.b-about__txt p{
    padding:0 0 20px
}
.b-about .b-tit{
    padding:0 0 32px
}
.b-why{
    position:relative
}
.b-why .b-tit{
    width:-webkit-calc(50% - 22px);
    width:-moz-calc(50% - 22px);
    width:calc(50% - 22px);
    padding:0 0 23px
}
.b-why-slider__nav{
    width:50%;
    float:left;
    position:relative
}
.b-why-slider__nav .slick-list,.b-why-slider__nav .slick-track{
    height:auto!important
}
.b-why-slider__nav-item{
    width:auto!important;
    padding:10px 30px 11px 0;
    position:relative;
    cursor:pointer
}
.b-why-slider__nav-item,.b-why-slider__nav-item:before{
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease
}
.b-why-slider__nav-item:before{
    width:15px;
    height:10px;
    display:block;
    content:" ";
    background-image:url(../images/svg/arrow.svg);
    background-position:100% 0;
    background-repeat:no-repeat;
    -moz-background-size:auto 100%;
    background-size:auto 100%;
    opacity:0;
    position:absolute;
    top:15px;
    left:0;
    z-index:1
}
.b-why-slider__nav-item.slick-current{
    padding-left:30px;
    padding-right:0
}
.b-why-slider__nav-item.slick-current:before{
    opacity:1
}
.b-why-slider__for{
    width:-webkit-calc(50% - 22px);
    width:-moz-calc(50% - 22px);
    width:calc(50% - 22px);
    margin:-108px -20px 0 0;
    float:right;
    position:relative
}
.b-why-slider__for-item{
    padding:20px;
    text-align:right
}
.b-why-slider__for img{
    max-width:100%;
    display:inline-block;
    position:relative;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,.2);
    -moz-box-shadow:0 0 20px rgba(0,0,0,.2);
    box-shadow:0 0 20px rgba(0,0,0,.2)
}
.b-why-post{
    font-size:13px;
    line-height:22px;
    position:relative;
    z-index:2
}
.b-why-post__tit{
    padding:0 0 10px;
    font-size:17px;
    font-weight:700;
    line-height:20px;
    color:#222
}
.b-cases{
    background-image:url(../images/bg-cases.png);
    background-position:bottom;
    -moz-background-size:cover;
    background-size:cover;
    color:#fff;
    position:relative;
    overflow:hidden
}
.b-cases,.b-cases:before{
    background-repeat:no-repeat
}
.b-cases:before{
    width:550px;
    display:block;
    content:"";
    background-image:url(../images/bg-mails.png);
    background-position:100% 0;
    -moz-background-size:auto 100%;
    background-size:auto 100%;
    position:absolute;
    top:34px;
    bottom:34px;
    left:50%;
    z-index:1
}
.b-cases__slider-item{
    padding:0 70px
}
.b-cases .b-tit{
    padding:0 0 56px;
    text-align:center;
    color:#fff
}
.b-cases .slick-dots{
    padding:51px 0 0
}
.b-cases-post__img{
    width:71px;
    margin:0 14px 52px;
    position:relative
}
.b-cases-post__img:before{
    display:block;
    content:",,";
    font-family:Proxima Nova;
    font-size:100px;
    font-weight:400;
    line-height:24px;
    letter-spacing:-7px;
    color:#d52a28;
    position:absolute;
    top:-31px;
    left:-20px;
    z-index:2
}
.b-cases-post__img img{
    width:100%;
    display:block;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    position:relative;
    overflow:hidden;
    z-index:1
}
.b-cases-post__entry{
    padding:0 0 18px;
    font-size:16px;
    font-weight:700;
    line-height:19px
}
.b-cases-post__foot{
    font-size:14px;
    line-height:18px
}
.b-quest{
    text-align:center
}
.b-quest .b-tit{
    padding:0 0 12px
}
.b-quest__form{
    max-width:400px;
    margin:0 auto;
    padding:33px 0 0;
    text-align:left;
    position:relative
}
.b-quest__form .b-form-btn{
    padding-top:21px
}
.b-quest__share{
    padding:58px 0 0
}
.b-newsl{
    background-image:url(../images/bg-newsl.png);
    background-position:bottom;
    -moz-background-size:cover;
    background-size:cover;
    color:#fff;
    position:relative;
    overflow:hidden
}
.b-newsl,.b-newsl:before{
    background-repeat:no-repeat
}

.b-newsl__entry{
    max-width:-webkit-calc(50% - 65px);
    max-width:-moz-calc(50% - 65px);
    max-width:calc(50% - 65px);
    position:relative
}
.b-newsl__entry-form{
    padding:33px 0 0
}
.b-newsl__entry-share{
    padding:87px 0 0
}
.b-newsl .b-tit{
    padding:0 0 12px;
    color:#fff
}
.b-newsl .b-sub-tit{
    color:#a3afff
}
.b-newsl-form{
    border-bottom:2px solid #fff;
    position:relative
}
.b-newsl-form ::-webkit-input-placeholder{
    opacity:1;
    color:#fff
}
.b-newsl-form :-moz-placeholder,.b-newsl-form ::-moz-placeholder{
    opacity:1;
    color:#fff
}
.b-newsl-form :-ms-input-placeholder{
    opacity:1;
    color:#fff
}
.b-newsl-form :focus::-webkit-input-placeholder{
    opacity:0
}
.b-newsl-form :focus:-moz-placeholder,.b-newsl-form :focus::-moz-placeholder{
    opacity:0
}
.b-newsl-form :focus:-ms-input-placeholder{
    opacity:0
}
.b-newsl-form__input{
    width:-webkit-calc(100% - 180px);
    width:-moz-calc(100% - 180px);
    width:calc(100% - 180px);
    height:58px;
    padding:15px 0;
    border:none;
    background:none;
    font-size:14px;
    line-height:28px;
    color:#fff
}
.b-newsl-form .b-link{
    font-size:13px;
    text-transform:uppercase
}
.b-footer{
    padding:57px 0;
    font-family:Montserrat,sans-serif;
    font-weight:400;
    line-height:16px;
    text-align:center
}
.b-entry,.b-footer{
    font-size:14px;
    position:relative
}
.b-entry{
    line-height:22px;
    z-index:10
}
.b-entry .b-center{
    padding-top:55px;
    padding-bottom:55px!important
}
.b-entry--top .b-center{
    padding-top:0;
    padding-bottom:0!important
}
.b-entry__head{
    padding:218px 0 188px;
    background-image:url(../images/bg-main.png);
    background-position:bottom;
    background-repeat:no-repeat;
    -moz-background-size:cover;
    background-size:cover;
    position:relative;
    z-index:1
}
.b-entry__img{
    margin:-103px 0 0;
    position:relative
}
.b-entry__img img{
    width:100%;
    display:block
}
.b-entry__txt{
    position:relative
}
.b-entry__txt h1,.b-entry__txt h2,.b-entry__txt h3,.b-entry__txt h4,.b-entry__txt h5,.b-entry__txt h6{
    padding:25px 0;
    font-family:Montserrat,sans-serif;
    font-weight:800;
    color:#222
}
.b-entry__txt h1{
    font-size:45px;
    line-height:54px
}
.b-entry__txt h2{
    font-size:30px;
    line-height:36px
}
.b-entry__txt h3{
    font-size:24px;
    line-height:30px
}
.b-entry__txt h4{
    font-size:20px;
    line-height:26px
}
.b-entry__txt h5{
    font-size:18px;
    line-height:24px
}
.b-entry__txt h6{
    font-size:16px;
    line-height:22px
}
.b-entry__txt p{
    padding:10px 0
}
.b-entry__txt ul{
    padding:38px 0 48px;
    font-size:13px
}
.b-entry__txt ul li{
    padding:0 0 25px 30px;
    position:relative
}
.b-entry__txt ul li:before{
    width:19px;
    height:6px;
    display:block;
    content:"";
    background:#ed3b47;
    position:absolute;
    top:9px;
    left:0;
    z-index:1
}
.b-entry__txt ul li strong{
    padding:0 0 9px;
    display:block;
    font-size:17px;
    font-weight:700;
    color:#222
}
.b-entry .b-tit{
    color:#fff
}
.b-entry .b-sub-tit{
    padding:21px 0 47px
}
.b-login{
    background-image:url(../images/bg-main.png);
    background-position:bottom;
    background-repeat:no-repeat;
    -moz-background-size:cover;
    background-size:cover;
    color:#a3afff;
    text-align:center;
    position:relative
}
.b-login-new-bg{
    background-image:url(../images/bg-registration.png);
    background-position:bottom;
    background-repeat:no-repeat;
    -moz-background-size:cover;
    background-size:cover;
    color:#a3afff;
    text-align:center;
    position:relative
}
.b-login__form{
    max-width:400px;
    margin:0 auto;
    padding:13px 0 0;
    position:relative
}
.b-login__form .b-form-btn{
    padding-top:15px
}
.b-login .b-tit{
    color:#fff
}
.b-login p{
    padding:7px 0
}
.b-login a{
    border-bottom:1px dashed #a3afff;
    font-size:13px;
    font-weight:300;
    line-height:15px;
    color:#a3afff;
    text-decoration:none
}
.b-login a:hover{
    border-bottom-color:transparent
}
.b-login-new-bg .b-tit{
    color:#fff
}
.b-login-new-bg p{
    padding:7px 0
}
.b-login-new-bg a{
    border-bottom:1px dashed #a3afff;
    font-size:13px;
    font-weight:300;
    line-height:15px;
    color:#a3afff;
    text-decoration:none
}
.b-login-new-bg a:hover{
    border-bottom-color:transparent
}
.b-post-list{
    padding:0 0 49px;
    position:relative
}
.b-post-list__item{
    padding:28px 0;
    position:relative
}
.b-post-prev{
    font-size:13px;
    line-height:22px;
    position:relative
}
.b-post-prev__img{
    width:219px;
    height:164px;
    margin-right:60px;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,.1);
    -moz-box-shadow:0 0 10px rgba(0,0,0,.1);
    box-shadow:0 0 10px rgba(0,0,0,.1);
    overflow:hidden
}
.b-post-prev__img,.b-post-prev__img img{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    position:relative
}
.b-post-prev__img img{
    height:100%;
    display:block
}
.b-post-prev__txt{
    width:-webkit-calc(100% - 279px);
    width:-moz-calc(100% - 279px);
    width:calc(100% - 279px)
}
.b-post-prev__txt-tit{
    height:22px;
    font-size:17px;
    font-weight:700;
    color:#222;
    position:relative;
    overflow:hidden
}
.b-post-prev__txt-entry{
    max-height:90px;
    margin:9px 0;
    position:relative;
    overflow:hidden
}
@media (max-width:1100px){
    .b-main__entry{
        padding:0 -webkit-calc(40% + 75px) 0 0;
        padding:0 -moz-calc(40% + 75px) 0 0;
        padding:0 calc(40% + 75px) 0 0
    }
    .b-main__entry-video{
        width:40%
    }

}
@media (max-width:990px){
    .vs-sm{
        display:block
    }
    .b-cooki{
        bottom:20px
    }
    .b-cooki__entry{
        padding-left:10px
    }
    .b-nav__btn{
        display:inline-block;
        vertical-align:middle
    }
    .b-nav__list{
        width:100%;
        height:100vh;
        padding:125px 0 0;
        display:none;
        background:#fff;
        font-size:18px;
        line-height:20px;
        text-align:center;
        position:fixed;
        top:0;
        left:0
    }
    .b-nav__list .b-btn{
        display:none
    }
    .b-nav__item{
        padding:20px 0;
        display:block
    }
    .b-nav .vs-sm{
        display:inline-block
    }
    .fp-viewing-10 .b-nav__list,.fp-viewing-cases .b-nav__list,.fp-viewing-cost .b-nav__list,.fp-viewing-main .b-nav__list,.fp-viewing-newsletter .b-nav__list{
        background:#423f6b
    }
    .b-screen .b-center{
        padding-bottom:50px
    }
    .b-screen .fp-scroller .b-center{
        padding-bottom:100px
    }
    .b-main{
        background-image: none;
        background-color: #3f3d56;
    }
    .b-main__entry{
        padding:0
    }
    .b-main__entry p{
        padding:0 0 30px
    }
    .b-main__entry-video{
        width:100%;
        margin:0 0 30px;
        position:relative;
        top:0
    }
    .b-main__entry-btns{
        padding:0 0 30px
    }
    .b-registr__entry{
        display:block
    }
    .b-registr__entry-txt{
        width:auto;
        padding-right:0;
        background-image:none
    }
    .b-registr__entry-form{
        width:auto;
        padding:36px 0 0
    }
    .b-ser-row{
        margin:0 -15px
    }
    .b-ser-row__col{
        padding:0 15px
    }
    .b-ser-post__tit{
        height:65px;
        font-size:25px;
        line-height:30px
    }
    .b-examples__entry{
        padding:0 0 40px
    }
    .b-examples-list{
        margin:0 -15px
    }
    .b-examples-list__item{
        width:33.33%;
        padding:15px
    }
    .b-examples-post{
        background:#fff;
        -webkit-box-shadow:0 0 20px rgba(0,0,0,.2);
        -moz-box-shadow:0 0 20px rgba(0,0,0,.2);
        box-shadow:0 0 20px rgba(0,0,0,.2)
    }
    .b-examples-post--bg{
        background:#d52a28
    }
    .b-cost {
        background-image: url(../images/bg-cost-mob.png);
    }
    .b-cost__entry{
        max-width:none
    }
    .b-about__img{
        width:-webkit-calc(40% - 15px);
        width:-moz-calc(40% - 15px);
        width:calc(40% - 15px)
    }
    .b-about__txt{
        width:-webkit-calc(60% - 15px);
        width:-moz-calc(60% - 15px);
        width:calc(60% - 15px)
    }
    .b-why-slider__nav,.b-why .b-tit{
        width:-webkit-calc(55% + 22px);
        width:-moz-calc(55% + 22px);
        width:calc(55% + 22px)
    }
    .b-why-slider__for{
        width:-webkit-calc(45% - 22px);
        width:-moz-calc(45% - 22px);
        width:calc(45% - 22px);
        margin-top:0
    }
    .b-cases__slider-item{
        padding:0 30px
    }
    .b-newsl__entry{
        max-width:none
    }
    .b-post-prev__img{
        margin-right:30px
    }
    .b-post-prev__txt{
        width:-webkit-calc(100% - 249px);
        width:-moz-calc(100% - 249px);
        width:calc(100% - 249px)
    }

}
@media (max-width:767px){
    .fancybox-content iframe{
        width:280px;
        height:200px
    }
    .b-btn{
        min-width:110px;
        height:48px;
        padding:15px 20px;
        -webkit-border-radius:24px;
        -moz-border-radius:24px;
        border-radius:24px;
        font-size:14px;
        font-weight:700;
        line-height:18px
    }
    .b-btn--xs{
        min-width:100px;
        height:30px;
        padding:5px 20px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        font-size:11px;
        line-height:20px
    }
    .b-btn--sm{
        min-width:110px;
        height:36px;
        -webkit-border-radius:18px;
        -moz-border-radius:18px;
        border-radius:18px;
        line-height:16px
    }
    .b-link{
        font-size:14px;
        line-height:18px
    }
    .b-ld-input{
        display:block;
        font-size:14px;
        text-align:left
    }
    .b-input,.b-textarea{
        height:36px;
        font-size:14px;
        line-height:16px
    }
    .b-textarea{
        height:100px;
        line-height:15px
    }
    .b-label{
        padding:0 0 4px;
        font-size:13px
    }
    .b-form-txt{
        padding:0 0 5px;
        font-size:14px;
        line-height:22px
    }
    .b-form-line{
        padding:8px 0
    }
    .b-form-btn .b-btn{
        font-size:14px
    }
    .b-tit{
        font-size:25px;
        line-height:30px
    }
    .b-tit span:before{
        height:6px;
        bottom:4px
    }
    .b-tit--md{
        font-size:25px;
        line-height:30px
    }
    .b-tit--sm{
        font-size:22px;
        line-height:27px
    }
    .b-tit--xs{
        font-size:20px;
        line-height:25px
    }
    .b-tit--xs span:before{
        bottom:2px
    }
    .b-tit--xxs{
        font-size:12px;
        line-height:16px
    }
    .b-sub-tit--lg{
        font-size:20px;
        line-height:26px
    }
    .b-share-nav{
        text-align:center
    }
    .b-share-nav ul li,.b-share-nav ul li:first-child{
        padding:0 8px
    }
    .align-center{
        margin:20px auto
    }
    .b-page-nav{
        font-size:12px;
        line-height:35px
    }
    .b-page-nav a,.b-page-nav span{
        width:35px
    }
    .b-cooki{
        display:none
    }
    .b-cooki__entry{
        padding-left:7px
    }
    .fp-viewing-cases .b-cooki,.fp-viewing-cost .b-cooki,.fp-viewing-main .b-cooki,.fp-viewing-newsletter .b-cooki{
        display:none
    }
    .b-header{
        padding:20px 0
    }
    .b-logo img{
        width: 150px;
    }
    .b-logo a{
        padding:10px 0 10px 70px;
        font-size:17px;
        line-height:19px;
        letter-spacing:1px
    }
    .b-logo a span{
        font-size:15px;
        letter-spacing:0
    }
    .b-logo a span.icon{
        width:40px;
        height:54px;
        margin-top:-27px
    }
    .b-nav__list .b-btn{
        padding-top:10px;
        padding-bottom:10px;
        display:inline-block
    }
    .b-nav .vs-sm{
        display:none
    }
    .b-screen .b-center{
        padding-top:80px;
        padding-bottom:30px
    }
    .b-screen.b-footer .b-center{
        padding-top:0;
        padding-bottom:0
    }
    .b-screen .fp-scroller .b-center{
        padding-bottom:80px
    }

    .b-main__entry-video{
        display:none
    }
    .b-main__entry-btns{
        padding:0 0 30px;
        text-align:center
    }
    .b-main__entry-btns .b-btn{
        margin:0 auto 20px;
        display:table
    }
    .b-registr__entry-form{
        padding:20px 0 0
    }
    .b-services__list{
        padding:20px 0
    }
    .b-ser-row{
        margin:0
    }
    .b-ser-row__col{
        width:auto;
        max-width:320px;
        margin:0 auto;
        padding:20px 0;
        float:none
    }
    .b-ser-post__tit{
        font-size:20px;
        line-height:25px
    }
    .b-ser-post__entry,.b-ser-post__tit{
        height:auto;
        margin:0 0 20px
    }
    .b-examples__entry{
        padding:0 0 30px
    }
    .b-examples .b-link{
        margin:0;
        display:table
    }
    .b-examples-list{
        margin:0
    }
    .b-examples-list__item{
        width:auto;
        max-width:320px;
        margin:0 auto;
        padding:10px 0;
        display:block
    }
    .b-cost__entry-btns{
        text-align:center
    }
    .b-cost .b-btn{
        margin:0 auto 20px;
        display:table
    }
    .b-about .b-center{
        display:block
    }
    .b-about__img{
        display:none
    }
    .b-about__txt{
        width:auto
    }
    .b-about__txt-btn{
        text-align:center
    }
    .b-why .b-tit{
        width:auto;
        padding:0 0 10px
    }
    .b-why-slider__nav{
        width:auto
    }
    .b-why-slider__nav-item{
        padding-top:5px;
        padding-bottom:5px
    }
    .b-why-slider__for{
        display:none
    }
    .b-why-post{
        font-size:13px;
        line-height:18px
    }
    .b-why-post__tit{
        padding:0 0 5px;
        font-size:15px;
        line-height:17px
    }
    .b-cases__slider-item{
        padding:0
    }
    .b-cases .b-tit{
        padding:0 0 40px
    }
    .b-cases .slick-dots{
        padding:40px 0 0
    }
    .b-cases-post__img{
        margin:0 14px 40px
    }
    .b-quest__form{
        padding:10px 0 0
    }
    .b-quest__form .b-form-btn{
        padding-top:11px
    }
    .b-quest__share{
        padding:10px 0 0
    }
    .b-newsl:before{
        width:150%;
        margin-left:0;
        opacity:.5;
        left:auto;
        right:-50%
    }
    .b-newsl__entry-share{
        padding:40px 0 0
    }
    .b-newsl-form__input{
        width:-webkit-calc(100% - 40px);
        width:-moz-calc(100% - 40px);
        width:calc(100% - 40px)
    }
    .b-newsl-form .b-link{
        width:26px;
        margin-top:1px;
        font-size:10px;
        text-indent:-9999em;
        position:relative;
        overflow:hidden
    }
    .b-newsl-form .b-link .arrow{
        margin-top:-5px;
        position:absolute;
        top:50%;
        right:0
    }
    .b-footer{
        padding:20px 0
    }
    .b-entry .b-center{
        padding-top:20px;
        padding-bottom:20px!important
    }
    .b-entry--top .b-center{
        padding-top:0;
        padding-bottom:0!important
    }
    .b-entry__head{
        padding:118px 0 88px
    }
    .b-entry__img{
        margin:-53px 0 0
    }
    .b-entry__txt h1,.b-entry__txt h2,.b-entry__txt h3,.b-entry__txt h4,.b-entry__txt h5,.b-entry__txt h6{
        padding:15px 0
    }
    .b-entry__txt h1{
        font-size:25px;
        line-height:31px
    }
    .b-entry__txt h2,.b-entry__txt h3{
        font-size:20px;
        line-height:26px
    }
    .b-entry__txt h4{
        font-size:18px;
        line-height:24px
    }
    .b-entry__txt h5{
        font-size:16px;
        line-height:22px
    }
    .b-entry__txt h6{
        font-size:14px;
        line-height:22px
    }
    .b-entry__txt ul{
        padding:20px 0
    }
    .b-entry__txt ul li{
        padding:0 0 20px 30px
    }
    .b-entry .b-sub-tit{
        padding:21px 0 20px
    }
    .b-post-list{
        padding:0
    }
    .b-post-list__item{
        padding:15px 0 20px
    }
    .b-post-prev{
        display:block
    }
    .b-post-prev__img{
        width:auto;
        height:auto;
        margin:0 0 20px
    }
    .b-post-prev__img img{
        width:100%;
        height:auto
    }
    .b-post-prev__txt{
        width:auto
    }
    .b-post-prev__txt-tit{
        height:auto
    }
    .b-post-prev__txt-entry{
        max-height:auto
    }

}

/*# sourceMappingURL=main.css.map */
