@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
}
html, body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    height: 100%;
}
.cb {
    clear: both;
}
#get_info {
    margin: 10px;
    padding: 3px 5px;
    font-weight: 700;
}
table.res {
    font-family: Tahoma, Geneva, sans-serif;
    border: 0px solid #948473;
    background-color: #F0F7FF;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}
table.res tr.x_profit {
    background-color: #68EFAD;
}
table.res tr.x_loss {
    background-color: #FFB191;
}
table.res tr.x_trailing {
    background-color: #FFDA70;
}
table.res tr.strah-orders:last-child {
    border-bottom: 1px solid #948473;
}

table.res tr.x_strahovochniy td {
    background-color: #EEF2F4;
    font-size: 11px;
}

table.res td, table.res th {
    border: 1px solid #948473;
    padding: 4px 5px;
}
table.res tbody td {
    font-size: 13px;
}
table.res thead {
    background: #948473;
    background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}
table.res thead th {
    font-size: 14px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: left;
    border-left: 2px solid #948473;
}
table.res thead th:first-child {
    border-left: none;
}

table.res tfoot {
    font-size: 16px;
    font-weight: bold;
    color: #F0F0F0;
    background: #948473;
    background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}
table.res tfoot td {
    font-size: 16px;
}
#results, #errors {
    margin-top: 20px;
}
#errors {
    color: red;
}

.rule_elem {
    margin: 5px 0;
}
.rule_elem span {
    cursor: pointer;
}

#logs {
    position: absolute;
    top:0;
    right: 0;
    width: 600px;
    height: 360px;
    resize: none;
    color: #002a80;
    background: #FFF;
}

select {
    min-width: 200px;
}

select#avialable_pairs {
    width: 400px;
}

/******* Server ********/
header {
    background: #00302c;
    color: #fff;
    padding: 10px 20px;
}
header a {
    color: #FFE3C6;
}
#wrap {
    box-sizing: border-box;
    padding: 0px 15px;
}
#menu {
    box-sizing: border-box;
    padding: 10px 20px;
    background: #009688;
    width: 100%;
}
#menu a {
    color: #FFF;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 20px;
}
#main {
    box-sizing: border-box;
    padding: 30px 50px;
    width: 100%; 
}

#logs_wrap {
    display: none;
}

#slog {
    width: 100%;
    height: 360px;
    resize: none;
    color: #002a80;
    background: #FFF;
}

#chanel_parameters {
    display: none;
}

#modal_form {
    width: 550px; 
    height: 625px; /* Рaзмеры дoлжны быть фиксирoвaны */
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
    left: 50%; /* пoлoвинa экрaнa слевa */
    margin-top: -325px;
    margin-left: -275px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 20px 10px;
}
#modal_form2 {
    width: 550px; 
    height: 300px; /* Рaзмеры дoлжны быть фиксирoвaны */
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
    left: 50%; /* пoлoвинa экрaнa слевa */
    margin-top: -175px;
    margin-left: -275px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 20px 10px;
}
#modal_form_btcbuy {
    width: 550px; 
    height: 300px; /* Рaзмеры дoлжны быть фиксирoвaны */
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
    left: 50%; /* пoлoвинa экрaнa слевa */
    margin-top: -175px;
    margin-left: -275px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 20px 10px;
}
#modal_form2 #modal_close2 {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close,#modal_form_btcbuy #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}
/* Пoдлoжкa */
#overlay {
    z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position:fixed; /* всегдa перекрывaет весь сaйт */
    background-color:#000; /* чернaя */
    opacity:0.8; /* нo немнoгo прoзрaчнa */
    -moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
    filter:alpha(opacity=80);
    width:100%; 
    height:100%; /* рaзмерoм вo весь экрaн */
    top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
    left:0;
    cursor:pointer;
    display:none; /* в oбычнoм сoстoянии её нет) */
}

.chanel_container {
    width: 100%;
    height: 457px;
    overflow: auto;
}

.chanel_list {

}
.chanel_list .stop_strat {

}
.button {
    outline: none;
    border: none;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 7px 7px;
    border-radius: 3px;
    background: #2196f3;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    margin: 5px 0px 5px 0px;
}
.button:hover { background: rgba(33, 150, 243, 0.6); cursor: pointer; text-decoration: none; color:white; }
.button:focus { text-decoration: none; color:white;}
.button:active {
    background: #2196f3;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.17) inset;
}
.panic_sale_global {

    margin: 0px 5px 5px 0px;
}
.panic_sale_chanel,.panic_sale_chanel_off {

    background: #eaa910;
}
.panic_sale_chanel,.panic_sale_chanel_off:hover {
    background: rgba(234, 169, 16, 0.6);
}
.panic_sale_chanel,.panic_sale_chanel_off:active {
    background: #eaa910;
}
.chanel_list .stop{
    background: #ff0000; 
}
.chanel_list .stop:hover {
    background: rgba(255, 0, 0, 0.6); cursor: pointer;   
}
.chanel_list .btn-green{
    background: #008000; 
}
.chanel_list .btn-green:hover {
    background: rgba(0, 128, 0, 0.6); cursor: pointer;   
}
.btn-red{
    background: #ff0000; 
}
.btn-red:hover{
    background: rgba(255, 0, 0, 0.6); cursor: pointer;
}

.gradient {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    position: relative; /* Относительное позиционирование */
    max-width: 190px !important;
    display: inline-block;
}
.gradient::after {
    content: ''; /* Выводим элемент */
    position: absolute; /* Абсолютное позиционирование */
    right: 0; top: 0; /* Положение элемента */
    width: 20px; /* Ширина градиента*/
    height: 100%; /* Высота родителя */
    /* Градиент */
    background: -moz-linear-gradient(left, rgba(255,255,255, 0.3), #fff 90%);
    background: -webkit-linear-gradient(left, rgba(255,255,255, 0.3), #fff 90%);
    background: -o-linear-gradient(left, rgba(255,255,255, 0.3), #fff 90%);
    background: -ms-linear-gradient(left, rgba(255,255,255, 0.3), #fff 90%);
    background: linear-gradient(left, rgba(255,255,255, 0.3), #fff 90%);
}
.login-form{
    width: 250px;
    height: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -85px 0 0 -125px;
}
.login-form-input{
    padding: 3px;
    border: 2px solid rgba(128, 128, 128, 0.33);
    margin: 15px 0px;
    width: 99%;
}
button.login-button {
    width: 100px;
    outline: none;
    position: absolute;
    left: 50%;
    margin: 0px 0px 0px -50px;
    border: none;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 0.7em 1em 0.7em;
    border-radius: 3px;
    background: #2196f3;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    bottom: 10px;
} 
button.login-button:hover { background: rgba(33, 150, 243, 0.8); cursor: pointer; }
button.login-button:active {
    background: #2196f3;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.17) inset;
}
.auth-block{
    width: 300px;
    height: 100px;
    position: relative;
    top: 115%;
    left: 55.5%;
    margin: -85px 0 0 -150px;
}
.auth_icon{
    width: 75px;
    padding: 10px 10px;
}
.register-form{
    width: 100%;
    height: 350px;
}
.reg-button {
    width: 116px;
    outline: none;
    margin: 10px 0px 0px 35%;
    border: none;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 0.7em 1em 0.7em;
    border-radius: 3px;
    background: #2196f3;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
} 
.reg-button:hover { background: rgba(33, 150, 243, 0.8); cursor: pointer; }
.reg-button:active {
    background: #2196f3;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.17) inset;
}
.profile-row {
    margin-bottom: 5px;
    padding: 10px 0px;
}
.keys-info{
    margin: 5px 0px;
}
.keys-control{
    margin: 15px 0px;
}

.pagination_wrapper{
    font-size: 0;
    line-height: 0;
    font-family: 'ProximaNovaBold';
    margin: 0 0 5px;
    text-align: center;
    color: #595e63;
    padding: 20px 0;
}
.pagination_wrapper_orders_selector{
    text-align: center;
}
.pagination_wrapper a{
    display: inline-block;
    vertical-align: bottom;
    font-size: 16px;
    line-height: 16px;
    color: #595e63;
    margin: 0 24px;
    position: relative;
    z-index: 1;
    width: 20px;
}

.pagination_wrapper a:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    margin: -13px 0 0 -20px;
    opacity: 0.6;
    border-radius: 50%;
    z-index: -1;
}

.pagination_wrapper a:hover:before{
    width: 40px;
    height: 40px;
}

.pagination_wrapper a:hover{
    color: #e38d13;
}

.pagination_wrapper a.current{
    color: #ff0000;
    font-weight: 700;
    z-index: 1;
}

.pagination_wrapper a.current:before{
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    z-index: -1;
    left: 50%;
    top: 50%;
    margin: -28px 0 0 -28px;
    border-radius: 50%;
    opacity: 1;
}

.pagination_wrapper .prev:before,

.pagination_wrapper .next:before{
    display: none;
}

.pagination_wrapper .prev{
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-top: 9px solid transparent;
    border-right: 11px solid #c6cbcf;
    border-bottom: 9px solid transparent;
    border-radius: 3px;
}

.pagination_wrapper .next{
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-top: 9px solid transparent;
    border-left: 11px solid #c6cbcf;
    border-bottom: 9px solid transparent;
    border-radius: 3px;
}

.pagination_wrapper span{
    font-size: 16px;
    line-height: 18px;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 5px;
}
.tabs_profile, .tabs_crpt {
    max-width: 100%;
}
.tabs__caption {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    margin: -1px 0 0 -1px;
}
.tabs__caption li {
    width: 25%;
    padding: 9px 5px;
    margin: 1px 0 0 0px;
    text-align: center;
    font-size: 17px;
    border-bottom: 1px solid #bbb;
    color: #bbb;
}
.tabs__caption li:not(.active) {
    cursor: pointer;
}
.tabs__caption li:not(.active):hover {
    border-color: #555;
    color: #888;
}
.tabs__caption .active {
    color: #555;
    border-bottom: 2px solid #555;
}
.tabs__caption .active:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
    background: #FFF;
}
.tabs__content {
    display: none;
    background: #FFF;
    padding: 7px 15px;
}
.tabs__content.active {
    display: block;
}